* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Hack Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
}

window#waybar {
  /*background-color: rgba(43, 48, 59, 0.8);*/
  background-color: transparent;
  border-bottom: none;
  color: #ffffff;
  transition-property: all;
  transition-duration: 0.5s;
  /*padding: 20px 20px;*/
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  border: none;
  border-radius: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  border: none;
  box-shadow: none;
}

#workspaces button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#workspaces button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#workspaces button {
  border: none;
  border-radius: 0;
  /*padding: 0 0.4em;*/
  color: #c0caf5;
  background-color: #24283b;
  min-width: 20px;
}

#workspaces button:hover {
  background-color: #9274ca;
  color: #000000;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  background-color: #9274ca;
  color: #000000;
}

#workspaces button.urgent {
  color: #eb4d4b;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0px;
}

#window {
  border-radius: 5px;
  padding: 0.3em 0.7em;
  /*border: 1px solid #595959;*/
  background-color: #24283b;
}

.modules-right .module {
  padding: 0.3em 0.7em;
  color: #c0caf5;
  background-color: #24283b;
  border-radius: 5px;
  border: 1px solid transparent;
}

#network,
#cpu,
#memory,
#battery {
  padding-right: 1.4em;
}

.modules-left {
  padding-top: 10px;
  padding-left: 10px;
}

.modules-right {
  padding-top: 10px;
  padding-right: 10px;
}

#battery.charging,
#battery.plugged {
  border-color: #26a65b;
}

@keyframes blink {
  to {
    border-color: #1b1b1b;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  border-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  border-color: #f53c3c;
}

#pulseaudio.muted {
  border-color: #90b1b1;
}

#wireplumber.muted {
  border-color: #f53c3c;
}

#temperature.critical {
  border-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  /*padding: 0 0px;*/
  /*margin: 0 5px;*/
  /*min-width: 16px;*/
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
