* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Hack Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(30, 32, 48, 0.75);
  border-bottom: 1px solid #1f2335;
  color: #ffffff;
  transition-property: all;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  border: none;
  box-shadow: none;
}

#workspaces button {
  border: none;
  border-radius: 0;
  /*padding: 0 0.4em;*/
  color: #c0caf5;
  background-color: #292e42;
  min-width: 20px;
}

#workspaces button:hover {
  background-color: #9d7cd8;
  color: #000000;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  background-color: #9d7cd8;
  color: #000000;
}

#workspaces button.urgent {
  color: #eb4d4b;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0px;
}

#window {
  padding: 0.3em 0.7em;
}

.modules-right .module {
  padding: 0.3em 0.7em;
  color: #c0caf5;
  background-color: #292e42;
  border: 1px solid transparent;
  transition-property: all;
  transition-duration: 0.5s;
}

.modules-left {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.modules-right {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#battery.charging,
#battery.plugged {
  border-color: #4fd6be;
}

@keyframes blink {
  to {
    border-color: #1b1b1b;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  border-color: #db4b4b;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  border-color: #f53c3c;
}

#pulseaudio.muted {
  border-color: #90b1b1;
}

#wireplumber.muted {
  border-color: #f53c3c;
}

#temperature.critical {
  border-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-power {
  border-color: #ff007c;
  border-style: dotted;
}

#custom-power:hover {
  border-style: solid;
}
